.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.files-dropzone {
	display: flex;
	justify-content: center;
	align-items: center;
}

.files-drop {
	max-width: 20rem;
	padding: 1rem;
	background-color: rgba(232, 236, 241, 1);
	border-style: dashed;
	border-width: 2px;
	border-radius: 25px;
}

.span-blue {
	color: rgba(34, 167, 240, 1);
}